
body{
    background-color: lightskyblue;
}
.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
}
.cell {
    text-align: center;
    font-size:medium;
    background-color: white;
    width: 18px;
    height: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;

    border: solid;
    border-width: 1px;
    border-color: lightslategray;
    
    
}
.row{
    display: flex;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: column;
    min-height: 50px;
    align-items: center;
    
    background: rgb(101, 162, 212);
    flex-wrap: wrap;
}

.start{
    background-color: greenyellow;
    
}
.end {
    background-color: red;
}

#algos{
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
    background-color: rgb(176, 176, 206)
}

.cell-filled {
    
    
    background-color: rgba(116,13,163,1);
    
    
    transform-origin: center;
    transition: all 0.5s ease-in;
  }
  div .shortest-path{
   
    background-color: yellow;
    transition: all 0.5s ease-in;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.search-btn{
    background-color: rgb(0, 255, 0);
    height: 30px;
}

.rainbow-mode{
    border: solid;
    border-width: 2px;
    border-color: red;

}
.rainbow-on {
    border-color: lightgreen;
}
.draw-walls-btn{
    border: solid;
    border-width: 2px;
    border-color: red;

}
.wall-on {
    border-color: lightgreen;
}
.wall-active {
    background-color: slategray;
}
.search-clear-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.options{
    display: flex;
    margin: 10px;
    
}
.drop-downs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.toggles{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(101, 162, 212);
}
.help-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
}