
*{
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: lightskyblue;
    width: 100vw;
}
.board-container{
    margin: 5px;
    display: flex;
}
h1{
    text-align: center;
}
.title{
    letter-spacing: .5em;
    text-shadow: 1px 1px 2px lightskyblue;
}
.title, 
.graph-container,
.board-container,
.row,
.help-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.graph-container {
    width: 95vw;
    flex-direction: column;
}
.cell {
    
    text-align: center;
    font-size:medium;
    background-color: white;
    
   
    width: 1rem;
    
    height: 1rem;
    font-weight: bold;
    

    border: solid;
    border-width: 1px;
    border-color: lightslategray;
    
    
}
.row{  
    width: 93vw;
    
    
}

.header{
    display: flex;
    flex-direction: column;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background: rgb(101, 162, 212);
    flex-wrap: wrap;
}

.start{
    background-color: lightgreen;
    
}
.end {
    background-color: orangered;
}

#algos{
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
    background-color: rgb(176, 176, 206)
}

.cell-filled {
    
    
    background-color: rgba(0,212,255,1);
    
    
    transform-origin: center;
    transition: all 0.5s ease-in;
}

div .shortest-path{
   
    background-color: yellow;
    transition: all 0.5s ease-in;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.search-btn{
    background-color: rgb(0, 255, 0);
    height: 30px;
    font-weight: bolder;
}

.rainbow-mode, 
.draw-walls-btn{ 
    padding: 1px;
    border-color:    orangered;   
    background-color: orangered;
    color: white;
}
.rainbow-on, 
.wall-on {
    border-color: lightgreen;
    background-color: rgb(67, 175, 67);
}

.wall-active {
    background-color: slategray;
}
.search-clear-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.options{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    width: 50vw;
}
.drop-downs,
.toggles{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(101, 162, 212);
}
.help-text{
    margin: 10px;

}
input:invalid{
    border-color: rgb(255, 0, 0);
}
.submit-btn{
    margin-bottom: 50px;
}
button{
    margin: 5px;
    border: 0px solid;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    color:#000000;
    background-color: orange;  
}
.clear-btn{
    height: 1rem;
    color: white;
    background-color: orangered;
}